{% extends 'clientes/base.html' %}
{% block conteudo %}

<form action="{% url 'cadastro' %}" method="post"> 
    {% csrf_token %}
    <div style="text-align: center;" class="container"> 
        <h1>Cadastro</h1>
        <div class="form-group">
            <label>Empresa</label>
            <input name="empresa" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Status</label>
            <select name="status" class="form-control-sm" required>
                <option value="Sondagem">Sondagem</option>
                <option value="Apresentando">Apresentando</option>
                <option value="Negociando">Negociando</option>
                <option value="Cliente">Cliente</option>
                <option value="Sem viabilidade">Sem Viabilidade</option>
                <option value="Sem interesse">Sem Interesse</option>
            </select>
        </div>
        <div class="form-group">
            <label>Segmento</label>
            <input name="segmento" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Contato</label>
            <input name="contato" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Telefone</label>
            <input name="telefone" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Telefone 2</label>
            <input name="telefone_2" class="form-control-sm" type="text">
        </div>
        <div class="form-group">
            <label>CEP</label>
            <div style="display: flex;">
                <input id="cep" name="cep" class="form-control-sm" type="text" required>
                <button type="button" id="btn-pesquisar" style="margin-left: 10px;">Pesquisar CEP</button>
            </div>
        </div>
        <div class="form-group">
            <label>Rua</label>
            <input id="rua" name="rua" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Número</label>
            <input name="numero_end" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Bairro</label>
            <input id="bairro" name="bairro" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Complemento</label>
            <input name="complemento" class="form-control-sm" type="text">
        </div>
        <div class="form-group">
            <label>Cidade</label>
            <input id="cidade" name="cidade" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Estado</label>
            <input id="estado" name="estado" class="form-control-sm" type="text" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="email" class="form-control-sm" type="email" required>
        </div>
        <div class="form-group">
            <label>Instagram</label>
            <input name="instagram" class="form-control-sm" type="text">
        </div>
        <div class="form-group">
            <label>CNPJ</label>
            <input name="cnpj" class="form-control-sm" type="text">
        </div>
        <div class="form-group">
            <label>Nº Lojas</label>
            <input name="qtd_lojas" class="form-control-sm" type="number">
        </div>
        <div class="form-group">
            <label>Próximo contato</label>
            <input name="prox_contato" class="form-control-sm" type="datetime-local" required>
        </div>
        <div class="form-group">
            <label>Primeiro contato</label>
            <input name="primeiro_contato" class="form-control-sm" type="datetime-local">
        </div>
        
        <!-- Adicionar Observação -->
        <div class="form-group">
            <label>Adicionar Observação</label>
            <textarea name="observacoes" class="form-control-sm" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button class="form-control-sm" type="submit">Enviar</button>
        </div>
    </div>
</form>

<script>
    document.getElementById('btn-pesquisar').addEventListener('click', function() {
        const cep = document.getElementById('cep').value.replace(/\D/g, '');

        if (cep.length !== 8) {
            alert('CEP inválido! Por favor, insira um CEP válido.');
            return;
        }

        fetch(`https://viacep.com.br/ws/${cep}/json/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao buscar o CEP');
                }
                return response.json();
            })
            .then(data => {
                if (data.erro) {
                    alert('CEP não encontrado!');
                } else {
                    document.getElementById('rua').value = data.logradouro;
                    document.getElementById('bairro').value = data.bairro;
                    document.getElementById('cidade').value = data.localidade;
                    document.getElementById('estado').value = data.uf;
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Ocorreu um erro ao buscar o CEP.');
            });
    });
</script>


{% endblock %}